<section>
  
<h6 class="ml-3 mt-4">Price details</h6>
    <div class="  container-fluid col-md-9 col-xl-8 col-11 col-sm-10 m-3">
<div class="card  justify-content-center bg-light" style="height:auto; width:auto; align:center;">
<div class="card-body">
<p class="float-right">₹{{totalPrice}}</p>
  <p >Price of ({{cartCount}}) : </p>
  <p class="float-right">free</p>
  <p>delivery charge :</p>
  <p class="float-right">GST not applicaple</p>
  <p>GST :</p>
  <p class="float-right">₹100</p>
  <p>Discount:</p>
  <hr>
    <h5 class="float-right">₹ {{totalPrice}}</h5>
    <h5 class="card-title">Total Price </h5>
    
    <a href="/order/address/"   class="card-text btn btn-success ">order now</button>
</section>