<section>
    <div class="container mt5">
    <div>
        <form action="" id="checkout-form" >
            <div class="row">
                <div class="col-md-5"><br>
                    <h2>Enter your details </h2><br><br>
                    <div>
                       <h5> <label>Address</label></h5>
                        <input class="form-control" type="text" id="address" name="address" >
                        <label><b>Pincode</b></label>
                        <input class="form-control" type="number" id="pincode" name="pincode">
                        <label><b>Mobile</b></label>
                        <input class="form-control" type="number" id="mobile" name="mobile">
                       
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container mt-5 ml-5 p-5 checkout border ">
                            <h5>Total Amount :  Rs.{{product.price}}</h5>
                            <hr>
                            <div class="payment">
                               <b> <p>Payment method</p></b>
                                <label class="radio-inline">
                                    <input type="radio" name="payment-method" value="COD" checked>COD
                                </label><br>
                                <label class="radio-inline">
                                    <input type="radio" name="payment-method" value="Online" >Online
                                </label>
                                
                                <input type="hidden" value="{{product._id}}" name="id" id="id"><br><br>
                                <button class="btn btn-primary ml-5 pl-4 pr-4" type="submit" >Order</button>
                            </div>
                        </div>
                    </div>
            </div>       
        </form>
    </div>
</div> 
</section>

<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(response)=>{
            
                if(response.status){
                    location.href='/order-success'
                }else{
                    razorpay(response.response)
                }
            }
        })
    })
    function razorpay(order){
       
        var options = {
    "key": "rzp_test_dUN35Lu6Iup3XU", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Acme Corp", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
    "handler": function (response){
        verifyPayment(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "ABHINAV TS", //your customer's name
        "email": "jagsdug@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
    var rzp1 = new Razorpay(options);
    rzp1.open();
    }
 

function verifyPayment(payment,order){

            $.ajax({
            url:'/verify-payment',
            method:'post', 
            data:{payment,order},
            success:(response)=>{
                //console.log(response.response.amount)
                if(response.status){
                    location.href='/order-success'
                }else{
                    alert('payment failed')
                }
            }
        })
 /*   $.ajax({
       
        url:'/verifyPayment',
        data:{
            payment,
            order
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                location.href='/order-success'
            }else{
                alert('payment failed');
            }
        }
    })*/
}
</script>
